Repository janlucaklees/yuzukam: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Added Make Target for stopping all develop containers
  Makefile
Due: none

Updated image-building workflow to build on tags
  .github/workflows/image-publish.yml
Due: prettier --write

Added automated release workflow
  .github/workflows/image-publish.yml
  .github/workflows/tag-release.yml
  .husky/pre-push
Due: prettier --write

Added eslint rule to always enforce return types
  eslint.config.js
Due: eslint, prettier --write

Refactor: Moved root-level async stores into lifecycle-managed helpers
  src/components/guards/RequireUserMediaPermission.svelte
  src/components/providers/PeerProvider.svelte
  src/lib/AbstractAsyncLifecycledClass.ts
  src/lib/AbstractSyncLifecycledClass.ts
  src/lib/BatteryMonitor.ts
  src/lib/PeerConnectionHandler.ts
  src/lib/PeerManager.ts
  src/lib/UserMediaPermissionHelper.ts
  src/lib/UserMediaService.ts
  src/lib/destroyStream.ts
  src/lib/event-system/EventSystem.ts
  src/lib/event-system/EventSystemInterface.ts
  src/lib/event-system/InertEventSystem.ts
  src/lib/event-system/index.ts
  src/stores/battery.svelte.ts
  src/stores/cameraPermission.svelte.ts
  src/types/InstanceLifecycleState.ts
Due: eslint, prettier --write

Chore: tighten eslint rules and make async intent explicit
  eslint.config.js
  src/components/BatteryIndicator.svelte
  src/components/Camera.svelte
  src/components/LocalScreen.svelte
  src/components/Receiver.svelte
  src/components/Screen.svelte
  src/components/ToggleButtonIcon.svelte
  src/components/Transmitter.svelte
  src/components/UserMediaSelect.svelte
  src/components/guards/RequireUserMediaPermission.svelte
  src/components/guards/RequireUserMediaSelection.svelte
  src/components/providers/PeerProvider.svelte
  src/lib/PeerConnectionHandler.ts
  src/lib/SignalingChannel.ts
  src/lib/SignalingSocket.ts
  src/lib/UserMediaService.ts
  src/lib/filterPeersByType.ts
  src/service-worker.ts
  src/stores/persistentStore.ts
Due: eslint, prettier --write

Try fixing my automated release pipeline
  .github/workflows/tag-release.yml
Due: prettier --write

Relaxed automated release pipeline checks
  .github/workflows/tag-release.yml
Due: prettier --write

Removed disfunctional automated release workflow
  .github/workflows/tag-release.yml
Due: prettier --write

Format and build on commit
  .husky/pre-commit
Due: none

Added donation section to the Readme
  README.md
Due: prettier --write

Create dependabot.yml
  .github/dependabot.yml
Due: prettier --write

Updated all dependencies to latest version
  .github/dependabot.yml
  bun.lock
  package.json
  src/components/providers/SignalingSocketProvider.svelte
  src/lib/event-system/EventSystem.ts
  src/lib/event-system/InertEventSystem.ts
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{js,ts,svelte}
  prettier --write: any of: *.{js,ts,svelte,html,scss,md,yml,yaml}
